body.post-type-archive-speaker {
	.hero.jumbotron {
		@extend %hero-jumbotron;
	}

	#speakers-list {
		@extend %module;

		#featured {
			.speaker {
				min-height:300px;
				max-height:300px;
				margin-bottom: 20px;
			}
		}
		#non-featured {
			.speaker {
				display:inline-block;
				padding:1em;
				border:1px solid $bil-blue;
				border-radius:3px;
				white-space: nowrap;
          		overflow: hidden;
			}
		}
	}
}