#module-contact {
	background: url('../images/background-logs-blur.jpg') 50% 0% no-repeat transparent;
	background-size: cover;
	padding-bottom:150px;
	padding-top:150px;

	.boxy {
		background:#fff;
		opacity: 0.8;
		border-bottom: 30px;
		padding-bottom: 30px;

		.social-links {
			font-size:30px;
		}
	}
}