#module-cta {
	background-color: $primary;
	color: $secondary;

	input {
		height:40px;
		font-size:30px;
	}

	.gform_wrapper {
		.gform_body {
			float:left;
			width:70%;

			label {
				display:none;
			}			
		}
		.gform_footer {
			float:right;
			width: 25%;
		}
	}
}