#module-cta {
	@extend %module-home;
	
	color: $white;
	background-color: $black;
	background-image: url('../images/dark_wood.png');


	.button {
	    display: block;
	    height: 100px;
	    width: 70%;
	    line-height: 100px;
	    overflow: hidden;
	    position: relative;
	    text-align: center;
	    margin: 0 auto;
	    color: $white;
		cursor: pointer; 
		border: 3px solid $white;

	    .label {
		    display: block;
		    line-height: 75px;
		    height: 100%;
		    position: relative;
		    top: 0%;
		    transition: top 0.35s;
		    width: 100%;
		    font-size:2em;

		}

		&:hover .label {
			top: -100%
		}
	}


}