#module-cta {
	background-color: $primary;
	color: $secondary;

	input {
		font-size:20px;
		padding:5px;
		color:#000;
		background:#fff;
		border:none;
	}

	.gform_wrapper {
		.gform_body {
			float:left;
			width:70%;

			label {
				display:none;
			}
		}
		.gform_footer {
			float:right;
			width: 25%;
		}
	}
}