#module-hero {
	@extend %module-home;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: 0% 0%;

	img.bil-logo {
		display: block;
		margin-left:auto;
		margin-right:auto;
		//opacity: 0.9;
		//filter: alpha(opacity=90); /* For IE8 and earlier */
	}

	h2 {
		text-align: center;
		line-height: 1.2;
		margin-top: 1.5em;
		//color: #F6F8E3;
		color: #fff;
		text-shadow: 1px 1px rgba( 0, 0, 0, 0.2 );
		//background-color: rgba(255,255,255,0.15);
		border-radius: 15px;
	}

}