#module-splash {
	background: url('../images/background-logs-blur.jpg') 50% 0% no-repeat transparent;
	background-size: cover;
	padding-bottom: 3em;

	h1 {
		color: $secondary;
		font-size: 75px;
		letter-spacing: .2em;
		font-family: $sans-serif;
		text-transform: uppercase;
	}

	.vid-container {
		position:relative;
		width: 100%;
		height: 0;
		padding-bottom:56.25%;

		iframe {
			position:absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}
}