#module-splash {
	background: url('../images/background-logs-blur.jpg') 50% 0% no-repeat transparent;
	background-size: cover;
	padding-bottom: 150px;

	h1 {
		color: $secondary;
		font-size: 90px;
		letter-spacing: 0em;
		word-spacing: 25px;
		font-family: $sans-serif;
		text-transform: uppercase;
		font-weight:700;
	}

	h2 {
		color:$secondary;
		font-size:30px;
		font-family: $sans-serif;
		text-transform: uppercase;
		margin-bottom:40px;
		word-spacing: 10px;
	}

	.vid-container {
		position:relative;
		width: 100%;
		height: 0;
		padding-bottom:56.25%;

		iframe {
			position:absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}
}