#module-sponsors {
	@extend %module-home;

	color: $white;
	background-color: $bil-blue;

	ul.sponsors {
		  display: block;
		  list-style:none;
		  list-style-type: none;
		  -webkit-margin-before: 0;
		  -webkit-margin-after: 0;
		  -webkit-margin-start: 0px;
		  -webkit-margin-end: 0px;
		  -webkit-padding-start: 0;
		  width: 100%;
		  text-align: center;

		li {
			width:100px;
			height:100px;
			text-align: center;
			display:inline-block;

			img {
				max-width: 100%;
				width:100%;
			}
			
			a {
				img {
				    opacity: 0.8;
				    filter: alpha(opacity=80);
				}

				img:hover {
				    opacity: 1.0;
				    filter: alpha(opacity=100);
				}
			}
			
		}
	}
}