//************************************************************************
//
// Header Styles
//
//************************************************************************

#header {
	background-color: #5A6B84;

	#nav {
		border: 0px;
		height: 66px;
		min-height: 66px;
		max-height: 66px;
		overflow: hidden;
		margin-bottom:0px;

		h1 {
			color:#fff;
		}

		a {
			color: $secondary;
			font-size:25px;
			padding:5px 20px;
			line-height:66px;
		}
	}
}

//************************************************************************
//
// Social Icons (header)
//
//************************************************************************

.soc li a {
	font-family:si!important;
	font-style:normal;
	font-weight:400;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
}

.soc-twitter:before {
	content:'a';
}

.soc-facebook:before {
	content:'b';
}

.soc-github:before {
	content:'Q';
}