//************************************************************************
//
// Header Styles
//
//************************************************************************

#header {
	font-family: $sans-serif;
	background-color: #5A6B84;

	#nav {
		border: 0px;
		height: 66px;
		min-height: 66px;
		max-height: 66px;
		overflow: hidden;
		margin-bottom:0px;

		h1 {
			color:#fff;
		}

		a {
			color: $secondary;
			font-size:25px;
			padding:5px 20px;
			line-height:66px;
		}
	}
}